---
import PostPreviewList from "$/components/PostPreviewList.astro";
import Layout from "$/layouts/base.astro";

const content = {
  title: "Home",
  description: "Home",
};

const posts = await Astro.glob("./blog/*.md");
---

<Layout content={content}>
    Welcome!

    <h2>Latest Posts</h2>
    <PostPreviewList posts={posts.slice(0,3)} />
</Layout>
