---
import BaseLayout from "$/layouts/BaseLayout.astro";
import PostPreviewList from "$/components/PostPreviewList.astro";

const content = { description: "Accueil" };
---

<BaseLayout content={content}>
    Bienvenue sur le blog de Guindaille Beer Crafting!

    <h2>Derniers articles publiés</h2>
    <PostPreviewList take={3} />
</BaseLayout>
