---
import { SITE } from "$/config";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} par {SITE.name}. Créé avec <a href="https://astro.build">Astro</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
