---
import { SITE } from "$/config";
import { Icon } from "astro-icon";
---

<header>
	<h1 class="title">
		<a href="/">{ SITE.title }</a>
	</h1>
	<div class="meta">
		<ul>
				<li>
						<a href="/a-propos" title={`À propos de ${SITE.name}`}>
							<Icon name="fa:question" />
						</a>
				</li>
				<li>
						<a href={ SITE.githubUrl } title={`Voir le code du site de ${ SITE.title }`}>
							<Icon name="fa:github" />
						</a>
				</li>
		</ul>
	</div>
</header>

<style>
    header {
        @apply flex gap-4 py-3 items-center tracking-tighter border-b border-theme-primary;
    }
    .title {
			@apply flex-1 text-theme-primary text-4xl font-extrabold md:text-5xl;
    }
		.meta {
				@apply flex gap-3 font-medium text-theme-gray-light;
		}
    .meta ul {
        @apply flex gap-3;
    }
		.meta a {
			@apply text-theme-primary hover:text-theme-secondary;
		}
		.meta [astro-icon] {
			@apply w-6 h-6;
		}
</style>
