---
import Tag from "$/components/Tag.astro";
import { PostMetadata } from "$/types";
import { getTagsWithPosts } from "$/utils";

const files = await Astro.glob<PostMetadata>("../data/blog-posts/*.md");
const tags = getTagsWithPosts(files);
const tagsWithCount = Array.from(tags.entries())
    .map(([tag, posts]) => ({ tag, count: posts.length }))
    .sort((a, b) => a.tag.localeCompare(b.tag)) // sort: tag ASC
    .sort((a, b) => b.count - a.count); // sort: count DESC
---

<nav>
  <ul>
    {
      tagsWithCount.map(({ tag }) => (
        <li><Tag name={tag} class="ring-2 ring-theme-gray-dark rounded-2xl px-3 py-2 hover:ring-theme-primary" /></li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    @apply py-4 mb-4 border-b border-theme-gray-dark text-xl font-semibold;
  }
  ul {
    @apply inline-flex list-none gap-5 px-4 justify-evenly w-full leading-3 flex-wrap;
  }
</style>
