---
const { page } = Astro.props
---
<div>
    {page.url.prev && <a href={page.url.prev} title="Aller au précédent">&larr; Précédent</a>}
    {page.url.next && <a href={page.url.next} title="Aller au suivant">Suivant &rarr;</a>}
</div>
<style>
    div {
        @apply flex justify-center md:justify-end py-6 gap-4;
    }
    a {
        @apply uppercase text-sm text-theme-accent hover:underline hover:text-theme-accent-light;
    }
</style>
