---
const { page } = Astro.props;
const { next, prev } = page.url;
const displayPaginator = next || prev;
---
{displayPaginator &&
    <div>
        {prev && <a href={prev} title="Aller au précédent">&larr; Précédent</a>}
        {next && <a href={next} title="Aller au suivant">Suivant &rarr;</a>}
    </div>
}

<style>
    div {
        @apply flex justify-center md:justify-end py-6 gap-4;
    }
    a {
        @apply uppercase text-sm text-theme-accent hover:underline hover:text-theme-accent-light;
    }
</style>
