---
import { SITE } from "$/config";
import { PostMetadata } from "$/types";
import { getPosts } from "$/utils";
import PostPreview from "./PostPreview.astro";

const { posts: receivedPosts, take = SITE.postsPerPage } = Astro.props;
const posts = receivedPosts
    || getPosts(await Astro.glob<PostMetadata>("../data/blog-posts/**/*.md"), { take });
---
<section>
    {posts.map((post) => (
        <PostPreview post={post}/>
    ))}
</section>
<style>
    section {
        @apply flex flex-col gap-12;
    }
</style>
