---
import BaseHead from '$/components/BaseHead.astro';
import Header from '$/components/Header.astro';
import Footer from '$/components/Footer.astro';
import { SITE } from '$/config';

const { content, showPageHeader = true } = Astro.props
const pageTitle = content.title ? `${content.title} 🍺 ${SITE.name}` : SITE.name;
---

<html lang="{SITE.lang}">
	<head>
		<BaseHead
			title={ pageTitle }
			description={ content.description }
		/>
	</head>

	<body>
		{ showPageHeader && <Header /> }
		<main>
				<slot />
		</main>
		<Footer />
	</body>
</html>
