---
import BaseHead from '$/components/BaseHead.astro';
import Header from '$/components/Header.astro';
import Nav from '$/components/Nav.astro';
import Footer from '$/components/Footer.astro';
import { SITE } from '$/config';

const { content } = Astro.props;
const pageTitle = content.title ? `${content.title} 🍺 ${SITE.name}` : SITE.name;
---

<html lang={SITE.lang}>
  <head>
    <BaseHead
      title={ pageTitle }
      description={ content.description }
    />
  </head>

  <body class="font-sans antialiased min-h-screen text-theme-gray bg-gray-800">
    <main class="mx-auto max-w-4xl px-4 md:px-0">
      <br class="my-4"/>
      <Header />
      <Nav/>
      <div class="min-h-xl">
          <slot />
      </div>
      <br class="my-4"/>
      <Footer />
    </main>
  </body>
</html>
